mat-card {
    width: 90%;
    display: flex;
    margin: 1.25em auto;

    .title {
        margin-bottom: 1.1em;
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}