mat-card {
    width: 90%;
    display: flex;
    margin: 1.25em auto;

    .title {
        margin-bottom: 1.1em;
    }

    .card-header {
        padding: 15px;
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .description {
        word-wrap: break-word;
    }
}