@use '@angular/material' as mat;
@use './themes.scss' as theme;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();

$blue: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme((
    color: (
        primary: $blue,
        accent: $accent,
    )
));

.blue {
    @include mat.all-component-themes($theme);
    @include theme.theme($theme);
}