@mixin form() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    mat-form-field {
        width: 30%;

        @media screen and (max-width: 1024px) {
            width: 60%;
        }

        @media screen and (max-width: 425px) {
            width: 80%;
        }
    }

    #auth-submit {
        font-size: 1.5rem;
        padding: 25px;
        cursor: pointer;
    }
}